<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.ingredient.name %>, <%= dose.description %>
      <%= link_to cocktail_dose_path(@cocktail,dose), method: :delete, data: { confirm: "Are you sure?" } do %>
      <div class="btn btn-danger p-1">x</div>
      <% end %>
    </li>
  </ul>
  <% end %>
</div>

<div class="container mt-3">
  <p>Add a dose to this cocktail:</p>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "save new dose", class: "btn btn-primary" %>
  <% end %>
  <!-- <p>you need a fresh dose to use</p>
  <p>you need a cocktail to associate</p>
  <p>you need a ingredient that is already created</p>
  <h2>simple form for path -->
</div>
